extends layout

block content
    div.row-fluid
        div#container.span12
            div#searchInputContainer
                input#searchInput.search-query(placeholder="Search NBA Player Information")
                img#searchImg(src="/images/search.jpeg")
            hr
            #searchResults