doctype 5
html
  head
    title='NBA Player Search'
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/slickgrid/slick.grid.css')
    link(rel='stylesheet', href='/stylesheets/search.css')

    script(src='/javascripts/jquery/jquery-1.9.1.min.js')
    script(src='/javascripts/jquery/jquery.event.drag-2.2.js')
    script(src='/javascripts/jquery/jquery-ui-1.10.2.custom.js')
    
    script(src='/javascripts/slickgrid/slick.core.js')
    script(src='/javascripts/slickgrid/slick.grid.js')
    script(src='/javascripts/slickgrid/slick.formatters.js')
    script(src='/javascripts/slickgrid/slick.editors.js')
    script(src='/javascripts/slickgrid/slick.groupitemmetadataprovider.js')
    script(src='/javascripts/slickgrid/slick.dataview.js')
    script(src='/javascripts/slickgrid/plugins/slick.cellselectionmodel.js')
    script(src='/javascripts/slickgrid/plugins/slick.cellrangeselector.js')
    script(src='/javascripts/slickgrid/plugins/slick.cellrangedecorator.js')

    script(src='/javascripts/search.js')
  body
    block content